<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 01</title>
    <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    </head>
    <body class="main-bg">
      <div class="login-container text-c animated flipInX">
              <div>
                  <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
              </div>
                  <h3 class="text-whitesmoke">Sign In To Vaccination Center</h3>
                  <p class="text-whitesmoke">Sign In</p>
              <div class="container-content">
                  <form class="margin-t">
                    <div class="google-btn" (click)="signInWithGoogle()">
                      <div class="google-icon-wrapper">
                        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                      </div>
                      <p class="btn-text"><b>Sign in with google</b></p>
                    </div>
                  </form>
                  <p class="margin-t text-whitesmoke"><small> Szczepienia Stanisław Szczepionka S.A &copy; 2022</small> </p>
              </div>
          </div>
    </body>
</html>
