<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <app-header></app-header>
		<div id="panel-fix" class="wrapper d-flex align-items-stretch">
			<app-admin-panel></app-admin-panel>

        <!-- Page Content  -->
        <div id="content-fix">
          <div class="page-admin-fix">
          <button class="btn btn-primary" mat-raised-button data-toggle="modal" (click)="openDialog()">Add new</button>
          <table class="table table-striped">
            <thead>
            <tr class="table-dark">
              <th scope="col">ID</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">Name</th>
              <th scope="col">Vaccine Dose</th>
              <th scope="col">Expiration Date</th>
              <th scope="col">Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vaccine of vaccines;">
              <th>{{ vaccine.id}}</th>
              <td>{{ vaccine.manufacturer}}</td>
              <td>{{ vaccine.name}}</td>
              <td>{{ vaccine.vaccineDose}}</td>
              <td>{{ vaccine.expirationDate}}</td>
              <td>
                <button class="btn btn-primary" mat-raised-button style="margin-right: 10px;" data-toggle="modal" (click)="openDialogEdit(vaccine.id)">Edit</button>
                <button class="btn btn-danger" mat-raised-button data-toggle="modal" (click)="openDialogDelete(vaccine.id)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
          <mat-paginator
            [length]="this.max_items"
            [pageSize]="this.size"
            [pageSizeOptions]="[5,10,25,100]"
            (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons>
    			</mat-paginator>
          </div>
          <app-footer></app-footer>

        </div>
	</div>
  </body>
</html>
